.signup-wrapper {
    background: #F75623;
    padding: 56px;
}

.signup-wrapper .login {
    background: #fff;
    padding: 36px 24px;
    border-radius: 10px;
}

.signup-wrapper .form-input input{
    width: 100%;
    margin-top: 24px;
    padding: 6px 8px;
    border: 1px solid #cfcdcd;

}

.signup-wrapper .form-input input::placeholder {
    color: #cfcdcd;
}

.signup-wrapper .form-input input:focus{
    outline: none;
    border: 1px solid #333;
}

.signup-wrapper .btn-login {
    width: 100%;
    margin-top: 36px;
    padding: 8px 0;
    background: #F75623;
    border: none;
    border-radius: 5px;
    color: #fff;
}

.signup-wrapper .btn-login:hover {
    background: #ff7348;
}

.signup-wrapper .btn-login:active {
    background: #F75623;

}