.brand {
    margin-bottom: 5rem;
    margin-top: 8rem;
}

.brand .brand-row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 4rem;
    padding-right: 4rem;
}

.brand .brand-row .img {
    width: 271px;
    padding-left: 25px;
}

@media screen and (max-width: 576px) {
    .brand {
        margin-top: 56px;
    }

    .brand h1 {
        font-size: 26px;
    }

    .brand .brand-row .img {
        padding-left: 0;
    }
}