.products {
    padding-top: 2rem;
    padding-bottom: 5rem;
    background: #F3F3F3;
}

.products .row {
    row-gap: 30px;
}

.products .card-img-top {
    padding: 3rem 3rem 0 3rem;
    height: 200px;
    width: auto;
}

.products .product-category {
    color: #A4A4A4;
}

.products .card {
    box-shadow: 0px 0px 50px rgba(12, 55, 94, 0.05);
}

.products .card .product-price {
    font-weight: 800;
    color: #F75623;
    font-size: 20px;
}

.products .card .product-real {
    font-weight: 600;
    color: #A4A4A4;
    font-size:16px;
    text-decoration: line-through;
    line-height: 0;
}

.products .card button {
    margin-bottom: 30px;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    padding: 0.3rem;
    background: #F75623;
    border-radius: 5px;
    color: white;
    border: none;
    font-weight: 600;
    font-size: 13px;
    border: 1px solid #F75623;
}

.products .card button:hover {
   background: white;
   color: #F75623;
   transition: 0.2s;
}

.products .card button .btn-text{
    margin-left: 10px;
}

.products .card .disc-mark {
    position: absolute;
    display: flex;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #FF2828;
    color: #fff;
    font-weight: 600;
    top: 30px;
    left: 61%;
}

.navigationButtons {
    width: 80%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 40px;
  }
   
  .navigationButtons a {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid #F75623;
    color: #F75623;
    cursor: pointer;
  }
   
  .navigationButtons a:hover {
    color: white;
    background-color: #F75623;
  }
   
  .navigationActive a {
    color: white;
    background-color: #F75623;
  }
   
  .navigationDisabled a {
    color: grey;
    background-color: #b52d04;
  }

  @media screen and (max-width: 1024px) {
    .products .card-img-top {
        height: 180px;
    }
  }

  @media screen and (max-width: 576px) {
    .products .card-img-top {
        height: 200px;
    }
    .products .card .disc-mark {
        left: 68%;
    }
  }