.recent {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background: #F3F3F3;
}

.recent .text-link {
    font-size: 25px;
    color: #F75623;
}

.recent .text-link:hover {
    color: blue;
}

.recent .card-img-top {
    padding: 3rem 3rem 0 3rem;
    height: 200px;
    width: auto;
}

.recent .recent-category {
    color: #A4A4A4;
}

.recent .card {
    box-shadow: 0px 0px 50px rgba(12, 55, 94, 0.05);
}

.recent .card .recent-price {
    font-weight: 800;
    color: #F75623;
    font-size: 20px;
}

.recent .card .recent-real {
    font-weight: 600;
    color: #A4A4A4;
    font-size:16px;
    text-decoration: line-through;
    line-height: 0;
}

.recent .card button {
    margin-bottom: 30px;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    padding: 0.3rem;
    background: #F75623;
    border-radius: 5px;
    color: white;
    border: none;
    font-weight: 600;
    font-size: 13px;
    border: 1px solid #F75623;
}

.recent .card button:hover {
   background: white;
   color: #F75623;
   transition: 0.2s;
}

.recent .card button .btn-text{
    margin-left: 10px;
}

.recent .card .disc-mark {
    position: absolute;
    display: flex;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #FF2828;
    color: #fff;
    font-weight: 600;
    top: 30px;
    left: 61%;
}