.about {
    margin: 3rem;
}

.about .about-content {
    margin-top: 1.6rem;
}

.about .about-content .card-title{
    font-weight: bold;
    margin-bottom: 1.5rem;
    margin-left: 1rem;
    font-size: 35px;
}

.about .about-content .card-text {
    width: 460px;
    font-size: 21px;
}

.about .about-content .about-link {
    margin-left: 1rem;
    color: #F75623;
    font-size: 21px;
    font-weight: bold;
}

.about .about-content .about-link:hover {
    color: #bd3207;
    transition: 0.2s;
}

@media screen and (max-width: 1024px) {
    .about .about-content .card-title{
        font-size: 30px;
    }
    
    .about .about-content .card-text {
        width: 400px;
        font-size: 17px;
    }
}

@media screen and (max-width: 768px) {
    .about .about-content .card-title{
        margin-left: 0;
        text-align: center;
        font-size: 35px;
    }

    .about .about-content .card-text {
        width: 100%;
        font-size: 22px;
    }
    .about .about-content .about-link {
        margin-left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 576px) {
    .about .about-content .card-title{
        text-align: center;
        font-size: 25px;
    }

    .about .about-content .card-text {
        width: 100%;
        font-size: 15px;
    }
    .about .about-content .about-link {
        font-size: 17px;
    }
}