.img-style {
   width: 120px;
}

.navbar-nav .nav-link.active {
    color: #f75623 !important;
}

.nav-custom {
    padding-left: 10rem;
}

.cursor-icons {
    cursor: pointer;
    color: #333;
}

.btns {
    background: transparent;
    border: 2px solid #f75623;
    border-radius: 5px;
    color: #f75623;
    padding: 4px 17px;
    width: 170px;
    font-size: 15px;
    font-weight: bold;
}

.btns:hover {
    background: #f75623;
    color: #fff;
    transition: 0.2s;
}

.cart-count {
    position: absolute;
    background: red;
    border-radius: 50%;
    padding: 3px 7px;
    font-size: 10px;
    color: #fff;
    margin-left: 16px;
    bottom: 44px;
}

@media screen and (max-width:1040px){
    .nav-custom {
        padding-left: 0;
    }
}

