.news .card-left {
    height: 416px;
}

.news .card-right {
    height: 200px;
}

.news .text-link {
    font-size: 25px;
    color: #F75623;
}

.news .text-link:hover {
    color: blue;
}

.news #card-news a.card-text1{
    bottom: 40px;
    width: 90%;
    font-size: 30px;
    color: white;
    text-decoration: none;
}

.news #card-news a.card-text1:hover{
    color: blue;
    text-decoration: underline;
    transition: 0.2s;
}

.news #card-news a.card-text2{
    bottom: 20px;
    font-size: 25px;
    color: white;
    text-decoration: none;
}

.news #card-news a.card-text2:hover{
    color: blue;
    text-decoration: underline;
    transition: 0.2s;
}

@media screen and (max-width:640px){
    .card-left {
        height: 200px;
    }
}